# Jurassic park storyline

In [470]:
import pandas as pd

fp = f'./jurassic-park.txt'

with open(fp, 'r') as file:
    content = file.read()

## Parsing the characters

In [471]:
with open(fp, 'r') as file:
    lines = file.readlines()
    
    character_lines = []
    for line in lines:
        if not line.strip() or line[0].isdigit():
            continue
        if line.startswith('*'):
            continue
        
        if ':' in line:
            break
        
        character_lines.append(line)
    file.close()

character_lines[0]

'RM Robert Muldoon Human\n'

In [472]:
ids = []
abbrs = []
names = []
groups = []

for idx, line in enumerate(character_lines):
    parts = line.split(' ')
    abbr = parts[0]
    group = parts[-1].split('\n')[0]
    name = '_'.join(parts[1:-1])
    
    ids.append(idx)
    abbrs.append(abbr)
    names.append(name)
    groups.append(group)

df = pd.DataFrame({
    'id':ids,
    'abbr':abbrs,
    'name':names,
    'group':groups
})

df.head()

   id abbr                  name  group
0   0   RM        Robert_Muldoon  Human
1   1   WP  Worker_in_Raptor_Pen  Human
2   2   DG        Donald_Gennaro  Human
3   3   JR      Juanito_Rostagno  Human
4   4   WM  Worker_at_Amber_Mine  Human

To check only one entry

In [473]:
df.loc[0]

id                    0
abbr                 RM
name     Robert_Muldoon
group             Human
Name: 0, dtype: object

Still need to write the parsing of the file instead of uploading everything like this

## Time Step

In [474]:
scenes_lines = []

with open (fp, 'r') as file:
    lines = file.readlines()
    
    for line in lines:
        if not line.strip() or line[0].isalpha():
            continue
        if line.startswith('*'):
            continue
        
        scenes_lines.append(line)

timesteps = len(scenes_lines)
print(f'Number of timesteps: {timesteps}')

Number of timesteps: 42

## Active Characters

In [475]:
ac_list = []
ac_time = []
I_lines = []

for idx, line in enumerate(scenes_lines):
    scene_parts = line.strip().split(' : ')
    #print(scene_parts)

    
    I_lines.append(scene_parts[1])
    ac = scene_parts[2].split(',')
    ac_time.append(idx+1)
    ac_list.append(ac)
    
    
active_characters = pd.DataFrame({
    'timestep': ac_time,
    'characters': ac_list
})

active_characters.head()

   timestep        characters
0         1  [RM, WP, R1, R2]
1         2      [DG, JR, WM]
2         3  [DS, DR, V1, VB]
3         4      [DS, DR, JH]
4         5          [LD, DN]

## Interactions

In [476]:
idx_I = 0

interaction_line = []

I_active_chars = []
I_inactive_chars = []

for line in I_lines:
    #print(line)
    I_groups = line.strip().split(';')
    #print(I_groups)
    for elem in I_groups:
        I_chars = elem.strip().split(',')
        #print(I_chars)
        if len(I_chars) == 1:
            #print(f'{I_chars}: inactive')
            I_inactive_chars.append(I_chars)
        elif len(I_chars)  > 1:
            #print(f'interaction:{I_chars}')
            #I_active_chars.append(I_chars)
            interaction_line.append([idx_I, I_chars])
        elif len(I_chars) <= 0:
            print(f'Error: no chars on timestep {idx_I}')
    
    #interaction_line.append([idx_I, I_active_chars])
    idx_I = idx_I + 1

In [411]:
I_timesteps = []
I_characters = []

for group in interaction_line:
    timestep = group[0]
    char = group[1]
    
    char_string = ','.join(char).split(',')
    
    I_timesteps.append(timestep)
    I_characters.append(char_string)

I = pd.DataFrame({
    'timestep':I_timesteps,
    'characters': I_characters,
})

I

    timestep                                    characters
0          0                                      [RM, WP]
1          0                                      [R1, R2]
2          1                                  [DG, JR, WM]
3          2                              [DS, DR, V1, VB]
4          3                                  [DS, DR, JH]
5          4                                      [LD, DN]
6          5                          [DM, JH, DS, DR, DG]
7          6                          [JH, DG, DS, DR, DM]
8          7                          [DM, JH, DS, DR, DG]
9          8                      [DM, JH, DS, DR, DG, MD]
10         9              [DM, JH, DS, DR, DG, HW, MD, RA]
11        10                      [DR, JH, DM, DS, DG, RM]
12        11                          [JH, DS, DM, DR, DG]
13        12                  [JH, DS, DM, DR, DG, LM, TM]
14        13              [TM, DM, JH, DS, DR, LM, DG, RA]
15        14  [JH, RM, DN, RA, LM, TM, DM, DG, DS, DR, JV]
16        15                              [RA, RM, JH, DN]
17        16  [LM, TM, DG, DM, DS, DR, RA, JH, RM, DN, TX]
18        17  [DR, LM, TM, DS, DG, GH, DM, RM, JH, RA, TX]
19        18              [DM, GH, DS, DR, DN, LM, DG, TM]
20        19                              [DN, RA, JH, RM]
21        20          [LM, TM, DG, DM, DR, DN, RA, JH, RM]
22        21                          [DR, DG, DM, LM, TM]
23        22                          [RA, JH, RM, DS, DN]
24        23                                      [DN, DP]
25        24                                  [DR, LM, TM]
26        25                                  [DS, RM, DM]
27        26                                  [LM, TM, DR]
28        27                                      [JH, DS]
29        27                                      [RM, R1]
30        28                                  [RM, R1, R2]
31        29                          [DR, LM, TM, R1, R2]
32        30                  [DM, RA, DS, JH, RM, R1, R2]
33        31                          [DR, LM, TM, R1, R2]
34        32                      [DS, RM, DM, JH, R1, R2]
35        33                              [RM, DS, R1, R2]
36        34          [DS, JH, DM, DR, LM, TM, R1, R2, R3]
37        35                  [RM, DR, TM, LM, R1, R2, R3]
38        36                  [DR, TM, LM, DS, R1, R2, R3]
39        37          [LM, TM, DR, DM, JH, DS, R1, R2, R3]
40        38          [DS, DR, LM, TM, DM, JH, R1, R2, R3]
41        39                      [DR, DS, LM, TM, DM, JH]
42        39                              [R1, R2, R3, TX]
43        40                      [DM, JH, DS, DR, LM, TM]
44        41                      [JH, DS, DM, DR, LM, TM]

# ILP

In [477]:
I.head()

   timestep        characters
0         0          [RM, WP]
1         0          [R1, R2]
2         1      [DG, JR, WM]
3         2  [DS, DR, V1, VB]
4         3      [DS, DR, JH]

In [478]:
active_characters

    timestep                                    characters
0          1                              [RM, WP, R1, R2]
1          2                                  [DG, JR, WM]
2          3                              [DS, DR, V1, VB]
3          4                                  [DS, DR, JH]
4          5                                      [LD, DN]
5          6                          [DM, JH, DS, DR, DG]
6          7                          [JH, DG, DS, DR, DM]
7          8                          [DM, JH, DS, DR, DG]
8          9                      [DM, JH, DS, DR, DG, MD]
9         10              [DM, JH, DS, DR, DG, HW, MD, RA]
10        11                      [DR, JH, DM, DS, DG, RM]
11        12                          [JH, DS, DM, DR, DG]
12        13                  [JH, DS, DM, DR, DG, LM, TM]
13        14              [TM, DM, JH, DS, DR, LM, DG, RA]
14        15  [JH, RM, DN, RA, LM, TM, DM, DG, DS, DR, JV]
15        16                              [RA, RM, JH, DN]
16        17  [LM, TM, DG, DM, DS, DR, RA, JH, RM, DN, TX]
17        18  [DR, LM, TM, DS, DG, GH, DM, RM, JH, RA, TX]
18        19              [DM, GH, DS, DR, DN, LM, DG, TM]
19        20                              [DN, RA, JH, RM]
20        21          [LM, TM, DG, DM, DR, DN, RA, JH, RM]
21        22                          [DR, DG, DM, LM, TM]
22        23                          [RA, JH, RM, DS, DN]
23        24                                      [DN, DP]
24        25                                  [DR, LM, TM]
25        26                                  [DS, RM, DM]
26        27                                  [LM, TM, DR]
27        28                          [JH, DS, RM, R1, R2]
28        29                                  [RM, R1, R2]
29        30                          [DR, LM, TM, R1, R2]
30        31                  [DM, RA, DS, JH, RM, R1, R2]
31        32                          [DR, LM, TM, R1, R2]
32        33                      [DS, RM, DM, JH, R1, R2]
33        34                              [RM, DS, R1, R2]
34        35          [DS, JH, DM, DR, LM, TM, R1, R2, R3]
35        36                  [RM, DR, TM, LM, R1, R2, R3]
36        37                  [DR, TM, LM, DS, R1, R2, R3]
37        38          [LM, TM, DR, DM, JH, DS, R1, R2, R3]
38        39          [DS, DR, LM, TM, DM, JH, R1, R2, R3]
39        40      [DR, DS, LM, TM, DM, JH, R1, R2, R3, TX]
40        41                  [DM, JH, DS, DR, LM, TM, TX]
41        42                      [JH, DS, DM, DR, LM, TM]

In [487]:
output_path = f'./output.lp'
timestep

41

In [488]:
lambda1 = 0
lambda2 = 1

In [489]:
#COMPUTE CHAR_I
# for step in range(len(I)):
#     print(I.iloc[step]["timestep"])
#     print(I.iloc[step]["characters"])

In [339]:
# Groups
reds = ["TX", "R1", "R2"]
blues = ["RM", "DG"]

cardinality_reds = len(reds)
cardinality_blues = len(blues)

In [490]:
x = []
y = []

with open(output_path, 'w') as file:
    file.write("Minimize\n")
    objective=""
    for i in range(timesteps-1):

        active_at_t = active_characters.iloc[i]["characters"]
        active_at_t_plus_1 = active_characters.iloc[i+1]["characters"]
    
        active_intersect = set(active_at_t) & set(active_at_t_plus_1)
        active_intersect = list(active_intersect)
    
        for u in range(len(active_intersect)):
            for v in range(u+1, len(active_intersect)):
                objective = objective + f'{lambda1} z + '
                objective = objective + f"{lambda2} y_{i}_{active_intersect[u]}_{active_intersect[v]} + "
                
                y.append(f"y_{i}_{active_intersect[u]}_{active_intersect[v]}")
                
    file.write(objective[:-3])

In [491]:
with open(output_path, 'a') as file:
    file.write("\nSubject to\n")

In [492]:
# CR
with open(output_path, 'a') as file:
    cr = ""
    for i in range(timesteps-1):

        active_at_t = active_characters.iloc[i]["characters"]
        active_at_t_plus_1 = active_characters.iloc[i+1]["characters"]
    
        active_j = set(active_at_t) & set(active_at_t_plus_1)
        active_intersect = list(active_intersect)
    
        for u in range(len(active_intersect)):
            for v in range(u+1, len(active_intersect)):
                
                cr = cr + f"y_{i}_{active_intersect[u]}_{active_intersect[v]} - x_{i}_{active_intersect[u]}_{active_intersect[v]} + x_{i+1}_{active_intersect[u]}_{active_intersect[v]} >= 0\n"
                
                x.append(f"x_{i}_{active_intersect[u]}_{active_intersect[v]}") 
                if i == (timesteps-2):
                    x.append(f"x_{i+1}_{active_intersect[u]}_{active_intersect[v]}")
    file.write(cr)

In [493]:
# EQ
with open(output_path, 'a') as file:
    eq = ""
    for i in range(timesteps):

        active_at_t = active_characters.iloc[i]["characters"]
    
        for u in range(len(active_at_t)):
            for v in range(u+1, len(active_at_t)):
                
                eq = eq + f"x_{i}_{active_at_t[u]}_{active_at_t[v]} + x_{i}_{active_at_t[v]}_{active_at_t[u]} = 1\n"
                
                x.append(f"x_{i}_{active_at_t[v]}_{active_at_t[u]}")
    file.write(eq)

In [494]:
# LOP.
with open(output_path, 'a') as file:
    lop = ""
    
    
    for i in range(timesteps):

        active_at_t = active_characters.iloc[i]["characters"]
    
        for u in range(len(active_at_t)):
            for v in range(u+1, len(active_at_t)):
                for w in range(v+1, len(active_at_t)):
                    lop = lop + f"x_{i}_{active_at_t[u]}_{active_at_t[v]} + x_{i}_{active_at_t[v]}_{active_at_t[w]} - x_{i}_{active_at_t[u]}_{active_at_t[w]} <= 1 \n"
                    lop = lop + f"x_{i}_{active_at_t[u]}_{active_at_t[v]} + x_{i}_{active_at_t[v]}_{active_at_t[w]} - x_{i}_{active_at_t[u]}_{active_at_t[w]} >= 0 \n"
                    
                    x.append(f"x_{i}_{active_at_t[u]}_{active_at_t[v]}")
                    x.append(f"x_{i}_{active_at_t[v]}_{active_at_t[w]}")
                    x.append(f"x_{i}_{active_at_t[w]}_{active_at_t[u]}")
                    
    file.write(lop)

In [ ]:
# # TREE
# tree = ""

# with open(output_path, 'a') as file:
#     for i in range(timesteps):
#         for u in range(len(char_I)-1):
#             for v in range(u+1, len(char_I)):
#                 for w in range(len(inactive_chars)):
                    
#                     #tree = tree + f"x_{i}_{char_I[u]}_{inactive_chars[w]} = x_{i}_{char_I[v]}_{inactive_chars[w]}\n"
#                     tree = tree + f"x_{i}_{char_I[u]}_{inactive_chars[w]} - x_{i}_{char_I[v]}_{inactive_chars[w]} = 0\n"
                    
#                     #x = x + f"x_{i}_{char_I[v]}_{inactive_chars[w]} "
#     file.write(tree)

# Binaries

In [495]:
x = set(x)
y = set(y)
bin = x | y

bin_str = ''

with open(output_path, 'a') as file:
    file.write('Binaries\n ')
    for idx, elem in enumerate(bin):
        bin_str = bin_str + f"{elem} "
    file.write(bin_str[:-1])

# Fairness

In [ ]:
#Fair1
fair1 = ""

with open(output_path, 'a') as file:
    for i in range(timesteps-1):
        #sum1
        fair1 = fair1 + f"{cardinality_blues} + "
        for u in range(len(active_characters)-1):
            if active_characters[u] in reds:
                #for v in range(len(active_characters)):
                print('')

pepe
pepe
pepe
pepe
pepe
pepe
pepe
pepe
pepe
pepe
pepe
pepe
pepe
pepe
pepe
pepe
pepe
pepe
pepe
pepe
pepe
pepe
pepe
pepe
pepe
pepe
pepe